.pagination {
  $this: &;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    fill: red;
    color: red;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    margin: 0 2px;
    border: 1px solid #dde8f0;
    border-radius: 10px;
    font-size: 18px;
    color: #5c6d7d;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;

    &:hover,
    &:focus,
    &:active {
      border-color: #0d6efd;
      color: #0d6efd;
    }

    &.active {
      border-color: #0d6efd;
      color: #0d6efd;
    }

    @media screen and (min-width: 425px) {
      height: 40px;
    }

    @media screen and (min-width: 576px) {
      margin: 0 6px;
      padding: 8px 15px;
    }
  }

  &__step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 40px;
    margin: 0 2px;
    border: 1px solid #dde8f0;
    border-radius: 10px;
    font-size: 18px;
    color: #5c6d7d;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;

    &:hover,
    &:focus,
    &:active {
      border-color: #0d6efd;
      color: #0d6efd;
    }

    @media screen and (min-width: 576px) {
      margin: 0 6px;
      width: 40px;
    }
  }
}

.pagination-state--disabled {
  color: #ebebeb;
  pointer-events: none;

  .pagination__icon {
    opacity: 0.2;
  }
}
