.search-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  &__label {
    margin: 10px 0;
    font-size: 16px;
    color: #5c6d7d;
    font-weight: 500;
    line-height: 25px;
    cursor: pointer;
  }

  &__input {
    height: 40px;
    padding: 10px;
    color: #2a2a2a;
    background-color: #fff;
    border: 1px solid #dde8f0;
    border-radius: 5px;
    outline: none;

    &:focus {
      border-color: cornflowerblue;
    }

    &::placeholder {
      color: #2a2a2a;
    }
  }
}
