@import "./variables";

.statistics {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    word-wrap: break-word;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background: #0d6efd;
    color: #ffffff;
}