@import "./variables";

.users {
  padding: 20px;

  &__filters.is-hidden {
    display: none;
  }

  &__sort.is-hidden {
    display: none;
  }
}

.search-form {
  display: flex;
  flex-direction: column;

  &__label {
    margin: 10px 0;
    font-size: 16px;
    color: #5c6d7d;
    font-weight: 500;
    line-height: 25px;
    cursor: pointer;
  }

  &__input {
    padding: 10px;
    color: #2a2a2a;
    background-color: #fff;
    border: 1px solid #dde8f0;
    border-radius: 5px;
    outline: none;

    &:focus {
      border-color: cornflowerblue;
    }

    &::placeholder {
      color: #2a2a2a;
    }
  }
}

.sort {
  display: flex;
  flex-direction: column;

  &.is-hidden {
    display: none;
  }

  &__select {
    padding: 10px;
    color: #2a2a2a;
    background-color: #fff;
    border: 1px solid #dde8f0;
    border-radius: 5px;
    outline: none;
  }

  &__label {
    margin: 10px 0;
    font-size: 16px;
    color: #5c6d7d;
    font-weight: 500;
    line-height: 25px;
    cursor: pointer;
  }

  &__option {
    &[selected] {
      background-color: #5c6d7d;
      color: #ffffff;
    }
  }
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  word-wrap: break-word;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background: #ffffff;

  &__img {
    object-fit: cover;
    margin-bottom: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__link {
    margin-bottom: 10px;
    text-decoration: none;
    color: #2a2a2a;
    word-wrap: break-word;
  }

  &.is-hidden {
    display: none;
  }
}
